:root {
    --main-backdound: #0082FA;
    --main-color: #006EE5;
    --main-font: "Inter", sans-serif;
    --sec-color: #676879;
}

.blend {
    mix-blend-mode: luminosity; 
}

.icon {}

.icons .icon {
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons .icon-btn {
    background-color: #EFF0F3;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons .icon-btn2 {
    background-color: #EFF0F3;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ========================================================== */

body {
    background-color: #E6EFFA;
}

.Navbar {
    /* width: calc(100% - 125px); */
    background-color: #FFFFFF;
}

.navbar {
    max-height: 70px;
    border-bottom: 1px solid #CDCED7;
}

.Navbar .rigt-ul div li {
    border: 0.5px solid #CDCED7;
    border-radius: 8px;
    width: 42px;
    height: 36px;

}

.Navbar .rigt-ul li i {
    /* width: 42px;
    height: 36px; */
    color: #1E1F24;
    border-radius: 50%;
    font-size: 12px;
    font-weight: 500;
    line-height: 24px;

}

.Navbar .rigt-ul li img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.Navbar .public-btn {
    background-color: var(--main-backdound);
    padding: 6px 16px;
    width: 108px;
    height: 36px;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
    font-family: var(--main-font);
    font-weight: 500;
}

.Navbar .business-btn {
    background-color: #FFFFFF;
    padding: 6px 16px;
    width: 126px;
    height: 36px;
    border-radius: 8px;
    border: 0.5px solid #E0E1E6;
    font-size: 12px;
    line-height: 24px;
    color: var(--main-color);
    font-family: var(--main-font);
    font-weight: 500;
    margin-left: 10px;
}

.logoimg {
    width: 80px;
    /* height: 15px; */
}

/*=========================================================================*/

.Sidebar {
    width: 125px;
    height: calc(100vh - 70px);
    border-right: 3px solid #CDCED7;
    padding: 44px 16px;
}

.Sidebar .item1 {
    width: 93px;
    height: 97px;
    background-color: var(--main-backdound);
    border-radius: 13px;
    border: 1px solid #0082FA;
}

.Sidebar .item1 h3 {
    font-size: 10px;
    font-family: var(--main-font);
    font-weight: 600;
    color: #FFFFFF;
    line-height: 12px;
    padding-top: 10px;
    /* align-self: center; */
}

.Sidebar .item1 .circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #0074ED;
    margin-top: 15px;
}

.Sidebar .item2 {
    width: 93px;
    height: 97px;
    background-color: #FFFFFF;
    border-radius: 13px;
    border: 1px solid #EFF0F3;
}

.Sidebar .item2 h3 {
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #676879;
    line-height: 16px;
    padding-top: 10px;
    /* align-self: center; */
}

.Sidebar .item2 .circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #E7E8EC;
    margin-top: 15px;
}

.Sidebar .item3 {
    width: 93px;
    height: 97px;
    background-color: #FFFFFF;
    border-radius: 13px;
    border: 1px solid #EFF0F3;
}

.Sidebar .item3 h3 {
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #676879;
    line-height: 16px;
    padding-top: 10px;
    /* align-self: center; */
}

.Sidebar .item3 .circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #E7E8EC;
    margin-top: 15px;
}

.Sidebar .item4 {
    width: 93px;
    height: 97px;
    background-color: #FFFFFF;
    border-radius: 13px;
    border: 1px solid #EFF0F3;
}

.Sidebar .item4 h3 {
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #676879;
    line-height: 16px;
    padding-top: 10px;
    /* align-self: center; */
}

.Sidebar .item4 .circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #E7E8EC;
    margin-top: 15px;
}

.Sidebar .item5 {
    width: 93px;
    height: 97px;
    background-color: #FFFFFF;
    border-radius: 13px;
    border: 1px solid #EFF0F3;
}

.Sidebar .item5 h3 {
    font-size: 10px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    color: #676879;
    line-height: 16px;
    padding-top: 10px;
    /* align-self: center; */
}

.Sidebar .item5 .circle {
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #E7E8EC;
    margin-top: 15px;
    
}


/* ================================================================== */

.profile-card .card .profilebackground {
    height: 120px;
    background-image: url(./../images/71f89fdf2c996a975778a7001c4a69bf.jpg);
    background-repeat: no-repeat;
    background-position: center 100%;
    background-size: cover;
}

.profile-card .card .cardButtons .viewProfile {
    width: 138px;
    height: 32px;
    padding: 5px 16px;
    border-radius: 8px;
    border: 0.5px solid var(--main-backdound);
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: var(--main-backdound);
    background-color: #FFFFFF;
}

.profile-card .card .cardButtons .editProfile {
    width: 84px;
    height: 32px;
    padding: 5px 16px;
    border-radius: 8px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #1E1F24;
}

.image-profile-new {
    width: 80px;
}

.profile-card .card .profile-photo {
    background-image: url(./../images/Profile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    top: 70px;
    left: 16px;
    width: 100px;
    height: 100px;
    border: 2px solid #FFFFFF;
    border-radius: 13px;
}

.profile-card .card-body {
    padding: 78px 16px 24px 16px;
}

.profile-card .card-body h5 {
    color: #000000;
    line-height: 19px;
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 600;
}

.profile-card .card-body .jop {
    color: #0082FA;
    font-size: 16px;
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 17px;
    border-bottom: 3px dashed #eee;
}

.profile-card .card-body .description {
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: #676879;
    width: 364px;
}

/* ================================================================== */

.menu {
    width: 396px;
    border-radius: 12px;
    height: 194px;
}

.menu .item {
    font-size: 12px;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 24px;
    color: #000000;
    background-color: #F9F9FB;
    padding: 6px 8px;
    border-radius: 8px;
    width: 364px;
    height: 40px;
    border: 1px solid #F9F9FB;
}

.menu .item i {
    width: 24px;
    height: 24px;
}


/* ================================================================== */

.links h2 {
    color: #000000;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 600;
    line-height: 17px;
}

.links .edit,
.services .edit,
.products .edit,
.articles .edit,
.gallary .edit {
    width: 78px;
    height: 32px;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #EFF0F3;
    color: #1E1F24;
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 24px;
    font-size: 12px;
}

.links .discard,
.services .discard,
.products .discard,
.articles .discard,
.gallary .discard {
    width: 76px;
    height: 36px;
    border-radius: 8px;
    padding: 6px 16px;
    background-color: #EFF0F3;
    color: #1E1F24;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 24px;
    font-size: 12px;
}

.links .add,
.services .add,
.products .add,
.articles .add,
.gallary .add,
.media .add {
    width: 80px;
    height: 32px;
    border-radius: 8px;
    padding: 4px 16px;
    background-color: #0082FA;
    color: #FFFFFF;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 24px;
    font-size: 12px;
}

.links .save,
.services .save,
.products .save,
.articles .save,
.gallary .save {
    width: 131px;
    height: 36px;
    border-radius: 8px;
    padding: 6px 24px;
    background-color: #0082FA;
    color: #FFFFFF;
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 24px;
    font-size: 12px;
}

.links h3 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.links h4 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
}

.links .blog,
.add-layer .content .left-body .lower .linkname3,
.linkdetails .linkname3 {
    background-image: url(./../images/blog.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    width: 370px;
    height: 110px;
}

.links .overlayblog,
.add-layer .content .left-body .lower .overlaylinkname,
.linkdetails .overlaylinkname {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    padding: 12px 16px;
}

.links .blog .blog-content p,
.add-layer .content .left-body .lower .linkname3 .linkname-content p,
.linkdetails .linkname3 .linkname-content p {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
}

.links .blog .blog-content h3,
.add-layer .content .left-body .lower .linkname3 .linkname-content h3,
.linkdetails .linkname3 .linkname-content h3 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}

.portfolio-card {
    width: 285px;
    height: 110px;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: #E0E1E6;
    border-radius: 0px 13px 13px 0px;
    background-color: #FFFFFF; 
}

.portfolio-card p {
    font-family: var(--main-font);
    font-weight: 300;
    line-height: 19px;
    font-size: 12px;
    color: #1E1F24;
}

.linkname-content p {
    font-family: var(--main-font);
    font-weight: 300;
    line-height: 21px;
    font-size: 14px;
    color: #1E1F24;
}

.thank-content p {
    font-family: var(--main-font);
    font-weight: 500;
    line-height: 22px;
    font-size: 14px;
    color: #000000;
    text-align: center;
}

.links .linkitemhover:hover .icons {
    display: flex !important;
}
/* ================================================== */

.services .image {
    width: 122px;
    height: 128px;
    border-radius: 13px;
    background-color: #E7F6FF;
    position: absolute;
    top: -55px;
    left: 14px;
}

.services .content {
    border: 1px solid #E7E8EC;
    border-radius: 17px;
    width: 245px;
    height: 184px;
    cursor: pointer;
}

.services .content h5 {
    font-family: var(--main-font);
    font-weight: 600;
    line-height: 17px;
    font-size: 14px;
    color: #000000;
}

.services .content p {
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 19px;
    font-size: 11px;
    color: #676879;
    width: 217px;
    height: 39px;
    overflow: clip;
}

.services .page-item {
    width: 27px;
    height: 31px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.services .innerimage {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #E7F7FF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}

.services .innerimage img {
    width: 47px;
    height: 47px;
    border-radius: 4px;
}

.services .serviceitemhover:hover .icons {
    display: flex !important;
}
/* ================================================== */

.products .upperimg,
.itemsForCards .upperimg {
    width: 245px;
    height: 184px;
    border-radius: 13px 13px 0px 0px;
}

.products .lowerimg,
.itemsForCards .lowerimg {
    width: 245px;
    height: 184px;
    border-radius: 0px 0px 12px 12px;
}
.products .lowertext,
.itemsForCards .lowertext {
    width: 245px;
    height: 61px;
    border-radius: 0px 0px 12px 12px;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    border-color: #E7E8EC;
    padding: 24px 12px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

.products .uppertext,
.itemsForCards .uppertext {
    width: 245px;
    height: 61px;
    margin-bottom: 0px;
    border-radius: 12px 12px 0px 0px;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: #E7E8EC;
    padding: 24px 12px;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

.products h5,
.itemsForCards h5 {
    border-radius: 6px;
    padding: 4px 8px;
    background-color: rgba(255, 255, 255, 0.95);
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.products h6,
.itemsForCards h6 {
    border-radius: 6px;
    padding: 3px 5px;
    background-color: #F4F9FF;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #013267;
}

.products .icons,
.articles .icons,
.media .icons {
    width: 166px;
    height: 38px;
    border-radius: 23px;
    padding: 4px 8px;
    background-color: #FFFFFF;
}

.products .productitemhover:hover .icons {
    display: flex !important;
}
/* ================================================== */

.articles img,
.itemsForCards img {
    width: 245px;
    height: 245px;
    border-radius: 12px;
}

.articles .article-content,
.itemsForCards .img-content {
    width: 233px;
    height: 74px;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
    padding: 12px;
    position: absolute;
    bottom: 6px;
    left: 6px;
}

.articles .articleitemhover:hover .icons {
    display: flex !important;
}
/* ================================================== */

.gallary .icons {
    width: 196px;
    height: 40px;
    border-radius: 23px;
    padding: 5px 8px;
    background-color: #FFFFFF;
}

.gallary .gallaryitemhover:hover .icons {
    display: flex !important;
}
/* ================================================== */

.media .mediaitemhover:hover .icons {
    display: flex !important;
}

/* ================================================== */

.NFC-layer .content {
    height: 267px;
    width: 914px;
    border-radius: 12px;
}

.NFC-layer .content .header {
    height: 67px;
    border-bottom: 1px solid #CDCED7;
    padding: 16px 32px;
}

.NFC-layer .content .header h3 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.NFC-layer .content .header button {
    width: 35px;
    height: 35px;
    background-color: #EFF0F3;
    border-radius: 42px;
}

.NFC-layer .content .header i {
    color: #1E1F24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.NFC-layer .content .body {
    height: 112px;
    padding: 32px 54px;
}

.NFC-layer .content .body p {
    width: 353px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
}

.NFC-layer .content .footer {
    padding: 24px 32px;
    border-top: 1px solid #CDCED7;
    height: 88px;
}

.NFC-layer .content .footer button {
    width: 88px;
    height: 40px;
    border-radius: 8px;
    border: 0.5px solid #CDCED7;
    padding: 8px 24px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #1E1F24;
}

/* ====================================================== */

.edit-profile-layer .content {
    height: 479px;
    width: 914px;
    border-radius: 12px;
}

.edit-profile-layer .content .header {
    height: 67px;
    border-bottom: 1px solid #CDCED7;
    padding: 16px 32px;
}

.edit-profile-layer .content .header h3 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.edit-profile-layer .content .header button {
    width: 35px;
    height: 35px;
    background-color: #EFF0F3;
    border-radius: 42px;
}

.edit-profile-layer .content .header i {
    color: #1E1F24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-layer .content .body {
    height: 328px;
    padding: 32px 30px;
}

.edit-profile-layer .content .body label {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
    margin: 0px 0px 3px 7px;
}

.edit-profile-layer .content .body label span {
    width: 6px;
    height: 19px;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #EF0000;
}

.edit-profile-layer .content .body input {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    height: 40px;
    border-radius: 9px;
    border: 1px solid #CDCED7;
    padding: 0px 12px;
}

.edit-profile-layer .content .footer {
    padding: 24px 32px;
    border-top: 1px solid #CDCED7;
    height: 84px;
}

.edit-profile-layer .content .footer button {
    width: 79px;
    height: 36px;
    border-radius: 8px;
    border: 0.5px solid #CDCED7;
    padding: 7px 16px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1E1F24;
}

.edit-profile-layer .content .footer .create {
    color: #FFFFFF;
    background-color: #0082FA;
}

/* ====================================================== */

.profile-sections-layer .content {
    width: 914px;
    border-radius: 12px;
}

.profile-sections-layer .content .header {
    height: 67px;
    border-bottom: 1px solid #CDCED7;
    padding: 16px 32px;
}

.profile-sections-layer .content .header h3 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.profile-sections-layer .content .header button {
    width: 35px;
    height: 35px;
    background-color: #EFF0F3;
    border-radius: 42px;
}

.profile-sections-layer .content .header i {
    color: #1E1F24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-sections-layer .content .body {
    padding: 32px 28px;
}

.profile-sections-layer .content .body .bodycontent {
    width: 858px;
    height: 54px;
    padding: 12px;
    border-radius: 12px;
    border: 1px solid #E0E1E6;
}

.profile-sections-layer .content .body .bodycontent .text h3 {
    color: #000000;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 600;
}

.profile-sections-layer .content .body .bodycontent .text input {
    width: 572px;
    height: 40px;
    padding: 0px 12px;
    border-radius: 9px;
    border: 1px solid #CDCED7;
    color: #000000;
    font-size: 14px;
    font-family: var(--main-font);
    font-weight: 600;
}

.profile-sections-layer .content .body .bodycontent .text input:focus {
    outline: none;
}

.profile-sections-layer .content .body .bodycontent .icons .edit button:nth-child(1) {
    width: 50px;
    height: 30px;
    border-radius: 8px;
    padding: 6px 16px;
    background-color: #EFF0F3;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1E1F24;
}

.profile-sections-layer .content .body .bodycontent .icons .edit button:nth-child(2) {
    width: 50px;
    height: 30px;
    border-radius: 8px;
    padding: 6px 16px;
    background-color: #0082FA;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    position: relative;
}

.profile-sections-layer .content .body .bodycontent .icons .edit button:nth-child(2)::after {
    content: "";
    width: 2px;
    height: 30px;
    background-color: #E0E1E6;
    position: absolute;
    right: -12px;
}

.profile-sections-layer .content .body div .icon-btn {
    width: 30px;
    height: 30px;
    border-radius: 35px;
    background-color: #EFF0F3;
    border: none;
}

.profile-sections-layer .content .footer {
    padding: 24px 32px;
    border-top: 1px solid #CDCED7;
    height: 88px;
}

.profile-sections-layer .content .footer button {
    width: 88px;
    height: 40px;
    border-radius: 8px;
    border: 0.5px solid #CDCED7;
    padding: 8px 24px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #1E1F24;
}

.profile-sections-layer .content .footer .save {
    width: 76px;
    height: 40px;
    border-radius: 8px;
    /* border: 0.5px solid #CDCED7; */
    padding: 8px 24px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    color: #FFFFFF;
}

/* ====================================================== */

.add-layer .content {
    width: 1200px;
    border-radius: 12px;
    background-color: #F4F7F9;
}

.add-layer .content .header {
    height: 67px;
    border-bottom: 1px solid #F4F7F9;
    padding: 16px 32px;
}

.add-layer .content .header h3 {
    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.add-layer .content .header button {
    width: 35px;
    height: 35px;
    background-color: #EFF0F3;
    border-radius: 42px;
}

.add-layer .content .header i {
    color: #1E1F24;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-layer .content .body {
    padding: 12px;
}

.add-layer .content .body .left-body {
    width: 402px;
    /* height: 657px; */
    background-color: #FFFFFF;
    border-radius: 12px;
}

.add-layer .content .body .left-body .upper,
.add-layer .content .body .right-body .upper {
    /* height: 56px; */
    padding: 16px 24px;
    border-bottom: 1px solid #C6D2DB;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}

.add-layer .content .body .left-body .lower {
    padding: 6px 16px 0px;
}

.add-layer .content .body .left-body .lower .type {
    padding: 7px 16px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1E1F24;
}

.add-layer .content .body .left-body .lower .choosen {
    background-color: #0082FA;
    color: white;
    border-radius: 8px;
    width: 124px;
    height: 36px;
}

.add-layer .content .body .left-body .lower .item h6 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
}

.add-layer .content .footer {
    padding: 24px 32px;
    border-top: 1px solid #F4F7F9;
    height: 84px;
}

.add-layer .content .footer div button {
    width: 79px;
    height: 36px;
    border-radius: 8px;
    border: 0.5px solid #CDCED7;
    padding: 7px 16px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1E1F24;
    background-color: #FFFFFF;
}

.add-layer .content .footer div .save {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    background-color: #0082FA;
}

.add-layer .content .footer .another {
    width: 173px;
    height: 36px;
    border-radius: 8px;
    border: 0.5px solid #CDCED7;
    padding: 7px 16px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1E1F24;
    background-color: #FFFFFF;
}

.add-layer .content .footer .another h4 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1E1F24;
    padding-top: 5px;
}

.add-layer .content .footer .empty {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    border: 1px solid #AEBCCB;
    background-color: #FFFFFF;
    margin-right: 7px;
}

.add-layer .content .body .right-body {
    width: 700px;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.add-layer .content .body .right-body .lower h6 {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    color: #000000;
}

.add-layer .content .body .right-body .lower .changeicon,
.add-layer .content .body .right-body .lower .reseticon {
    width: 147px;
    height: 36px;
    border-radius: 8px;;
    border: 0.5px solid #CDCED7;
    padding: 7px 16px;
    color: #1E1F24;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
}

.add-layer .content .body .right-body .lower .data label,
.interactiondetails .textdetails .textdata label,
.interactiondetails .embeddetails .embeddata label,
.interactiondetails .comingtextdetails .textdata label,
.interactiondetails .gallarydetails label {
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #000000;
    margin: 10px 0px 3px 7px;
}

.add-layer .content .body .right-body .lower .data label span,
.interactiondetails .textdetails .textdata label span,
.interactiondetails .embeddetails .embeddata label span,
.interactiondetails .comingtextdetails .textdata label span {
    width: 6px;
    height: 19px;
    font-family: var(--main-font);
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    color: #EF0000;
}

.add-layer .content .body .right-body .lower .data select,
.add-layer .content .body .right-body .lower .data input,
.interactiondetails .textdetails .textdata input,
.interactiondetails .embeddetails .embeddata input,
.interactiondetails .comingtextdetails .textdata input {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    height: 40px;
    border-radius: 9px;
    border: 1px solid #CDCED7;
    padding: 0px 12px;
}

.add-layer .content .body .right-body .lower .data input::placeholder,
.interactiondetails .textdetails .textdata input::placeholder,
.interactiondetails .embeddetails .embeddata input::placeholder,
.interactiondetails .comingtextdetails .textdata input::placeholder {
    color: #000000;
}

.add-layer .content .body .right-body .lower .data button,
.interactiondetails .textdetails .textdata button,
.interactiondetails .embeddetails .embeddata button,
.interactiondetails .comingtextdetails .textdata button,
.interactiondetails .gallarydetails button {
    width: 107px;
    height: 36px;
    border: 0.5px solid #CDCED7;
    border-radius: 8px;
    padding: 7px 16px;
}

.add-layer .content .body .right-body .lower .data h6,
.interactiondetails .textdetails .textdata h6 {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
}

.itemsForCards .image {
    width: 122px;
    height: 128px;
    border-radius: 13px;
    background-color: #E7F6FF;
    position: absolute;
    top: -55px;
    left: 14px;
}

.itemsForCards .content {
    border: 1px solid #E7E8EC;
    border-radius: 17px;
    width: 245px;
    height: 184px;
    margin-top: 70px;
}

.itemsForCards .content h5 {
    font-family: var(--main-font);
    font-weight: 600;
    line-height: 17px;
    font-size: 14px;
    color: #000000;
}

.itemsForCards .content p {
    font-family: var(--main-font);
    font-weight: 400;
    line-height: 19px;
    font-size: 11px;
    color: #676879;
    width: 217px;
    height: 39px;
    overflow: clip;
}

/* .itemsForCards .content p:hover {
    overflow: visible;
} */

.itemsForCards .page-item {
    width: 27px;
    height: 31px;
    padding: 5px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

/* ====================================================== */

.itemsForInteractions button {
    width: 370px;
    height: 38px;
    border-radius: 8px;
    border: 0.5px solid #CDCED7;
    padding: 7px 12px;
    background-color: transparent;
    margin-top: 8px;
    text-align: left;
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 12px;
    line-height: 24px;
    color: #1E1F24;
}

.itemsForInteractions .chooseninteraction {
    background-color: #0082FA;
    color: white;
}

.itemsForInteractions h2 {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 10px;
}

.itemsForInteractions .comingbtn {
    color: #B1B1B3;
}

/* ====================================================== */

.interactiondetails .textdetails .design div {
    width: 370px;
    height: 110px;
    background-color: #F9F9FB;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.interactiondetails .textdetails .design div p {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    text-align: center;
}

.interactiondetails .textdetails .textdata h6,
.interactiondetails .embeddetails .embeddata h6,
.interactiondetails .comingtextdetails .textdata h6,
.interactiondetails .gallarydetails h6 {
    font-family: var(--main-font);
    font-weight: 500 !important;
    font-size: 14px  !important;
    line-height: 22px  !important;
    color: #000000  !important;
}

/* ====================================================== */

.gallarydetails .uploadimage .uploadedimage {
    width: 120px;
    height: 120px;
    border-radius: 12px;
}

.gallarydetails .uploadimage .hoverdiv:hover .iconsOverlay {
    display: flex !important;
}

.gallarydetails .uploadimage button {
    width: 120px;
    height: 120px;
    border-radius: 8px;
    border: 0.5px solid #CDCED7;
    padding: 7px 16px;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #1E1F24;
}

.gallarydetails .uploadimage .iconsOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 120px;
    height: 120px;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gallarydetails .uploadimage .iconsOverlay .iconsetting,
.gallarydetails .uploadimage .iconsOverlay .icondelete {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #EFF0F3;
}
.gallarydetails .uploadimage .iconsOverlay .changephoto {
    width: 94px;
    height: 28px;
    border-radius: 6px;
    border: 0.5px solid #CDCED7;
    padding: 2px 12px;
    font-family: var(--main-font);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    color: #1E1F24;
}